/* 
Palette:

#001E28
#003459
#007EA7
#003459
#D8DBE2
*/

* {
    box-sizing: border-box
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;

}

main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-height: 100vh;
    color: #fff;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 15%;
    background-color: #002641 
    /* 002D3D */
}

.sidebar span {
    display: flex;
    height: 25%;
    font-size: 3vw;
    align-items: center;
}

.sidebar ul {
    display: flex;
    height: 75%;
    font-size: 1.5vw;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* justify-content: space-around; */
    list-style-type: none;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    min-height: 7%;
    padding-left: 10%;
}

.sidebar ul li:hover {
    background-color: #003459
}

main section {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: scroll;
}

main section div.post {
    width: 70%;
    margin-top: 3%;
    padding: 3%;
    border-radius: .5vw;
    background: #053C5E
}

main section div.post div:first-child {
    margin-bottom: 3%;
    font-size: 3vw
}

main section div.post div:last-child {
    font-size: 1vw;
    overflow: auto
}
